<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>P2</td><td>scenarios.suite1.bdd.FlipkartOrder()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]<br/></td></tr>
<tr><td>SMOKE</td><td>scenarios.suite1.bdd.FlipkartOrder()[pri:1000, instance:com.qmetry.qaf.automation.step.client.Scenario@3e8]<br/></td></tr>
</table>
